.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30vh 5vw;
}

.clock {
  font-size: 23vmin;
  font-weight: 500;
}

.greeting,
.greeting__form {
  display: none;
}

.greeting-column {
  margin: 23px 0px 45px 0px;
}

.greeting-column input {
  font-size: 3.8vh;
}

.greeting__form input::placeholder {
  color: white;
  opacity: 0.7;
}

.greetings {
  font-size: 4vh;
}

.toDo-column li {
  font-size: 2.5vh;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.toDo-column i {
  margin-right: 10px;
  opacity: 0.7;
  cursor: pointer;
}

.toDo__form input::placeholder {
  color: white;
}
