.header {
  padding: 18px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header i {
  font-size: 20px;
}

.header__icon-title {
  font-size: 13px;
}

.header .weather__temperature {
  font-size: 18px;
}

.header .weather__place {
  font-size: 15px;
  font-style: italic;
}
